div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
img {
  background-color: #333;
  padding: 0% 10% 0% 10%;
  margin: auto;
}
.caption {
  display: block;
}
.title,
.channel,
.views {
  color: white;
}
.title {
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.close {
  background-color: #00000061;
  float: right;
}
.edit {
  display: block;
  background-color: #00000061;
}
